//fonts
@font-face {
    font-family:'OpenSans-Light';
    src:url('../../assets/fonts/OpenSans-Light.ttf');
}
// don't think italic is used!
// @font-face {
//     font-family:'OpenSans-LightItalic';
//     src:url('../../assets/fonts/OpenSans-LightItalic.ttf');
// }

// variables
$brand-font: 'OpenSans-Light';
$base-font-size: 16px;
$base-color: #ffffff;
$grey-color: #c2c2c2;
$tablet-width: 600px;
$desktop-width: 1000px;

// mixins
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

//styles
body{
  background-color: #000;
  font-family: $brand-font;
  font-size: $base-font-size;
  color: #fff;
  text-align: center;
}

// header
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include tablet {
       flex-wrap:nowrap;
  }

  h1{
    flex-basis: 100%;
      @include tablet {
         flex-basis: 50%;
      }
      @include desktop {
         flex-basis: 10%;
      }
      img{
        padding: 2rem;
      }
  }

  div {
    flex-basis: 100%;
    @include tablet {
         flex-basis: 50%;
         text-align: left;
    }
    @include desktop {
       flex-basis: 90%;
    }
    select {
      margin: 1rem 0;
      font-family: 'OpenSans-Light'
    }
  }
}

// stories grid
.stories{
  display: flex;
  flex-wrap: wrap;
  div {
    flex-basis: 100%;
    @include tablet {
         flex-basis: 25%;
    }
  }
}

// footer
footer {
  p{
    color: #c2c2c2;
    padding: 1rem;
  }
  span{
    text-transform: uppercase;
  }
  @include desktop {
    text-align: left;
  }
}
